* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Experience -------------------------------------------- */

.experiences {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas {
  width: 100%;
  height: 100%;
}

/* Page Itself ------------------------------------------- */

.page {
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-weapper {
  position: relative;
}

/* Hero section ------------------------------------------ */

.hero {
  width: 100vw;
  height: 100vh;
}
